* {
    margin: 0;
    color: rgba(0, 0, 0, 0.658);
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#container {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 36px;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    width: 100%;
    margin-top: 50px;
    display: flex;
}

#face {
    width: 350px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.photo {
    border-radius: 50%;
    height: 300px;
    position: absolute;
    border: 3px solid white;
}

.flag {
    width: 350px;
    height: 250px;
}

#data {
    width: 70%;
    margin-left: 40px;
    font-weight: 400;
}

.name {
    margin-top: 20px;
}

.work {
    margin-bottom: 15px;
}

.number,
.email,
.telegram,
.city {
    text-align: left;
    margin: 0 5px;
}

.number::before {
    color: blue;
    content: "Phone number: ";
    font-weight: 500;
}

.email::before {
    color: blue;
    content: "Email: ";
    font-weight: 500;
}

.telegram::before {
    color: blue;
    content: "Telegram: ";
    font-weight: 500;
}

.city::before {
    color: blue;
    content: "City: ";
    font-weight: 500;
}

#description {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
}

#experience {
    width: 70%;
}

#skills {
    width: 300px;
    margin-right: 40px;
}

li {
    font-weight: 500;
}

@media (min-width: 768px) and (max-width: 992px) {
    #header {
        flex-direction: column;
    }
    #face,
    #data {
        width: 100%;
    }
    #skills {
        padding: 10px;
    }    
}

@media (max-width: 767px) {
    #header {
        flex-direction: column;
    }
    #face,
    #data {
        width: 100%;
    }
    #description {
        flex-direction: column;
    }
    #experience {
        width: 100%;
        padding: 10px;
    } 
    #skills {
        width: 100%;
        margin: 40px;
    }   
}